@media (max-height: 650px) {
  .register-step-1 { gap: 1rem; }
}

@media (max-height: 1400px) and (max-width: 1300px) {
  .registration-window {
    height: 50%;
    width: 60%;
  }
  .title {
    font-size: 2.3rem;
  }
  .input {
    padding: 2.5rem 2.7rem;
    font-size: 1.8rem;
    border-radius: 16px;
  }
  .input::placeholder {
    font-size: 1.7rem;
  }
  .title-input {
    font-size: 1.7rem;
    margin-bottom: 4%
  }
  .continue-btn {
    padding: 2.2rem 1.5rem;
    font-size: 1.7rem;
    width: 45%;
  }
  .step {
    font-size: 1.7rem;
  }
  .dot-btn {
    width: 1.5rem;
    height: 1.5rem;
  }
  .glow {
    width: 4rem;
    height: 4rem;
    left: 25%;
    top: 27%;
  }
}

@media (max-height: 1270px) {
  .registration-window {
    height: 45%;
    width: 55%;
  }
  .title {
    font-size: 1.7rem;
  }
  .input {
    padding: 2rem 2.2rem;
    font-size: 1.3rem;
    border-radius: 14px;
  }
  .input::placeholder {
    font-size: 1rem;
  }
  .continue-btn {
    padding: 1.7rem 1rem;
    font-size: 1.2rem;
    width: 35%;
  }
  .step {
    font-size: 1.4rem;
  }
  .dot-btn {
    width: 1.2rem;
    height: 1.2rem;
  }
  .glow {
    width: 4rem;
    height: 4rem;
    left: 26%;
    top: 28%;
  }  
  .title-input {
    font-size: 1.2rem;
    margin-bottom: 3%
  }
}

@media (max-height: 1130px) {
  .input {
    padding: 1.5rem 1.7rem;
  }
}

@media (max-height: 1035px) {
  .continue-btn {
    padding: 1.3rem 0.7rem;
    font-size: 0.9rem;
    width: 30%;
  }
  .input {
    padding: 1rem 1.2rem;
  }
}

@media (max-height: 930px) {
  .registration-window {
    height: 45%;
    width: 55%;
    padding: 1.5rem 1.7rem;
  }

}

@media (max-height: 900px) {
  .title {
    font-size: 1.4rem;
  }
  .input {
    padding: 1rem 1.3rem;
    font-size: 0.9rem;
    border-radius: 12px;
  }
  .input::placeholder {
    font-size: 0.8rem;
  }
  .continue-btn {
    padding: 0.9rem 0.6rem;
    font-size: 1rem;
    width: 28%;
  }
  .step {
    font-size: 1rem;
  }
  .dot-btn {
    width: 1rem;
    height: 1rem;
  }
  .glow {
    width: 2rem;
    height: 2rem;
    left: 26%;
    top: 28%;
  }  
  .title-input {
    font-size: 0.9rem;
    margin-bottom: 2%
  }
}

@media (max-height: 760px) {
  .title {
    font-size: 1.1rem;
  }
  .input {
    padding: 0.8rem 1.2rem;
    font-size: 0.8rem;
    border-radius: 12px;
  }
  .input::placeholder {
    font-size: 0.7rem;
  }
  .continue-btn {
    padding: 0.8rem 0.5rem;
    font-size: 0.6rem;
    width: 27%;
  }
  .step {
    font-size: 0.8rem;
  }
  .dot-btn {
    width: 0.8rem;
    height: 0.8rem;
  }
  .glow {
    width: 1.7rem;
    height: 1.7rem;
    left: 28%;
    top: 30%;
  }  
  .title-input {
    font-size: 0.8rem;
    margin-bottom: 2%
  }
}

@media (max-height: 670px) {
  .title {
    font-size: 0.9rem;
  }

  .continue-btn {
    padding: 0.7rem 0.4rem;
    font-size: 0.5rem;
    width: 27%;
  }
  .step {
    font-size: 0.7rem;
  }
  .dot-btn {
    width: 0.6rem;
    height: 0.6rem;
  } 
  .title-input {
    font-size: 0.7rem;
    margin-bottom: 2%
  }
}

@media (max-width: 500px) {
  .registration-window {
    height: 42%;
    width: 65%;
  }
  .continue-btn {
    padding: 1rem 0.8rem;
    font-size: 0.7rem;
    width: 50%;
  }
  .step {
    font-size: 0.6rem;
  }
  .dot-btn {
    width: 0.5rem;
    height: 0.5rem;
  }  
  .title-input {
    font-size: 0.6rem;
    margin-bottom: 2%
  }
}

@media (max-width: 380px) {
  .registration-window {
    height: 50%;
    width: 70%;
  }
}